<div data-role="footer" data-theme="c" data-position="fixed" id="footer">
	<div data-role="navbar">
		<ul>
			<li>
				<a href="javascript:void(0);" id="option"><img class="footerButton" src="../assets/images/option.png"/></a>
			</li>
			<li>
				<a href="javascript:void(0);" id="create"><img class="footerButton" src="../assets/images/edit.png" /></a>
			</li>
			<li>
				<a href="javascript:void(0);" id="location"><img class="footerButton" src="../assets/images/location.png" /></a>
			</li>
		</ul>
	</div>
</div>