<div class="ideaItem">
	<div class="ideaContent">
		<div class="about">
			<div class="user">
				<img class="headPhoto" />
				<label class="userName userInfo"><%= userName %></label>
			</div>
		</div>
		<img class="contentPicture" />
		<div class="title"><%= ideaTitle %></div>
	</div>
	<div class="info">
		<span class="infoLabel"><%= supportLabel %><span class="collectNum"><%= supportNumber %></span></span>
		<span class="infoLabel"><%= commentLabel %><span class="commentNum"><%= commentNumber %></span></span>
	</div>
</div>